 <h1>記事一覧</h1>



 <% @articles.each do |article| %>
	<p>タイトル</p>
	<span><%=link_to article.title, "/articles/#{article.id}" %></span>

  <p>画像</p>
 <%= attachment_image_tag article, :image, :fill, 100, 100, format: 'jpeg' %>

 <% end %>
